.about-us {
  margin: 150px 0;

  .about-us__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;

    .about-us__text {
      h2 {
        margin-bottom: 80px;
      }

      p {
        width: 594px;
      }
    }

    .about-us__video {
      width: 480px;
      height: 267px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}